<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <!--<h1>hello, world</h1>-->
    
    <!--<img src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/thumbs-up.png">-->
    
    <h1>Google</h1>
    <form method ="GET" action="/search">
        <input type="text" name="query"/>
        <input type="submit"/>
    </form>

</body>
</html>